<h1 class="mb-5 text-center">Tachyon Storm</h1>

<div class="row">
    <div class="col-sm-12 col-md-6 p-3 border border-primary mx-auto">
        <p class="text-error">A tachyon storm has blown us off course, 
            the navigation database might also have suffered corruption.</p>
        <p class="text-error">
            Suggested course of action is to retreat to an extra galactical
            location and re-start exploration.
        </p>
        <div class="text-center mt-5">
            <a class="btn btn-outline-primary" href="/galaxy/all">
                Set Course
            </a>
        </div>
    </div>
</div>